.board
{
    background-color:rgb(252, 217, 104);
    height:800px;
    width:800px;
    z-index:999;
    position:absolute;
    left:50%;
    transform:translateX(-50%);
}

.test
{
    background-color:rgb(252, 104, 153);
    height:50%;
    width:50%;
    z-index:999;
}